# Package Files #
*.jar
*.war
*.ear
*.class

# Other #
*.cmd
**/.mvn/**
**/logs/**
mvnw

**/target/**
**/lib/**

#IntelliJ IDEA files#
*.iml
*.ipr
*.iws
**/.idea/**

# NetBeans files #
**/nb-configuration.xml
**/nbactions.xml

# Other files
*.odt
*.pdf

# NPM and Angular #

**/dist
**/tmp
**/out-tsc
**/node_modules
**/e2e/*.js
**/e2e/*.map
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/testem.log
**/typings

